* {
  margin: 0%;
  padding: 0%;
}

html,
body {
  margin: 0%;
  padding: 0%;
}

body {
  background-color: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  position: sticky;
  top: 0;
  width: 100vw;
  height: 8vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 3px rgb(153, 152, 152);

}

.nav-items {
  width: 97%;
  height: 70%;
  display: flex;
  gap: 0.6em;
  align-items: center;
}

.nav-items a {
  text-decoration: none;
  width: 7vw;
  height: 80%;
  background-color: black;
  border-radius: 7px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-items a:hover {
  background-color: rgba(49, 46, 46, 0.8);

}

/* header css start */
.header-section {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2em;
}

.header {
  text-align: center;
  height: 20vh;
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}

header p {
  font-size: medium;
}

.author-name {
  background-color: black;
  color: white;
  padding: 3px;
}

/* header end */




/* article start */
.content {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(241, 241, 241);
}

.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(119, 10px);
  gap: 3%;
  width: 94vw;
}

.item1 {
  grid-row: span 13;
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: 2px 5px 12px rgb(153, 152, 152);
}

.story {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  text-align: justify;
  width: 95%;
}

.story-title {
  font-size: 1.5em;
  font-weight: 300;
}

.description,
.story h4 {
  color: rgb(114, 113, 113);
  width: 99%;
  text-align: justify;
}

.more-info {
  height: 30%;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comments {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  width: 15%;
}

.comments button {
  background-color: black;
  color: white;
  width: 25%;
  height: auto;
  border: 1px solid black;
}

.more-info input {
  height: 70%;
  width: 20%;
  border: 0.5px solid gray;
  background-color: white;
}

.item2 {
  grid-row: span 10;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 2px 2px 7px rgb(153, 152, 152);
}

.item2-content {
  display: flex;
  width: 90%;
  height: 35%;
  flex-direction: column;
  justify-content: space-evenly;
}

img {
  width: 100%;
}


.item3 {
  grid-row: span 9;
  height: 100%;
  box-shadow: 2px 3px 10px rgb(153, 152, 152);
  background-color: white;
}

.popular-header {
  height: 17%;
  width: 100%;
  background-color: rgb(241, 241, 241);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popular-header p {
  width: 93%;
  font-size: 1.3em;
}

.posts {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 20.7%;
  border: none;
  border-bottom: 1px solid rgb(211, 205, 205);
}

.posts:hover,
.more-info input:hover {
  background-color: rgb(204, 204, 204);
}

.post-title {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 70%;
  height: 70%;
}

.item3 img {
  width: 15%;
}

.item4 {
  grid-row: span 13;
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 5px 12px rgb(153, 152, 152);
  background-color: white;
}

.item5 {
  grid-row: span 5;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 2px 3px 10px rgb(153, 152, 152);
  background-color: white;
}

.tags-header {
  background-color: rgb(241, 241, 241);
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tags-header h3 {
  width: 93%;
  font-size: 1.5em;
  font-weight: 400;
}

.tags-items {
  height: 20vh;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  align-content: center;
  align-items: center;
}

.tags-items p {
  height: fit-content;
  background-color: rgb(241, 241, 241);
  padding: 0.2em;
}

.tags-items p:nth-child(1) {
  background-color: black;
  color: white;
  width: 17%;
  text-align: center;
}

/* artical end */

footer {
  width: 100vw;
  height: 23vh;
  display: flex;
  align-items: center;
  gap: 0.7em;
  background-color: rgb(97, 97, 97);
}

footer button {
  height: 24%;
  padding: 0 1.4em 0 1.4em;
  background-color: rgb(36, 35, 35);
  color: #f1f1f1;
  border: none;
}

footer button:hover {
  background-color: rgb(198, 189, 189);
  color: black;
}

.signIn-container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(34, 45, 65, 0.7), rgba(34, 45, 65, 0.7)), url('images/signInBg.png') center/cover no-repeat;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-container {
  width: 45vw;
  height: 95vh;
  background-color: rgb(237, 240, 245);
  border-radius: 11px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.greeting-signin {
  font-size: 3em;
  font-weight: 1000;
  color: rgb(51, 51, 109);

}

.greeting-signup {
  font-size: 2em;
  text-align: center;
  font-weight: 700;
  color: rgb(51, 51, 109);
}

form {
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
  font-size: 1.1em;
}

.signin-form {
  height: 60%;
  width: 90%;

}

form input {
  width: 90%;
  height: 10%;
  border: none;
  border-bottom: 2px solid black;
  background-color: transparent;
}

form label {
  width: 90%;
  font-size: 1.2em;
  font-weight: 800;
}

form input:focus {
  outline: none;
}

.signup-btn,
.signin-btn {
  width: 40%;
  background-color: rgb(15, 15, 18);
  border: none;
  color: white;
  font-size: 1em;
  border-radius: 4px;
}

.signin-btn {
  height: 7vh;
}

.signup-btn {
  height: 10vh;

}

form button:hover {
  background-color: rgb(63, 63, 70);
}

form div {
  width: 90%;
}

form a {
  color: rgb(33, 24, 101);
}