* {
  margin: 0%;
  padding: 0%;
}
body {
  background-color: #f1f1f1;
}
/* header css start */
.header-section {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header {
  text-align: center;
  height: 20vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.author-name {
  background-color: black;
  color: white;
}

/* header end */

/* article start */
.contant {
  /* border: 1px solid red; */
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  /* border: 1px solid rgb(255, 0, 204); */
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 3%;
  width: 95vw;
}
.item1 {
  height: 60vh;
  width: 100%;
  grid-row: 1/3;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 5px 5px 5px rgb(128, 127, 127);
}
.story {
  /* border: 5px solid rgb(234, 255, 0); */
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  text-align: justify;
  width: 95%;
}
.more-info {
  /* border: 5px solid rgb(255, 0, 204); */
  height: 30vh;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Comments {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  width: 15%;
  /* border: 5px solid rgb(93, 0, 255); */
}
.Comments button {
  background-color: black;
  color: white;
  width: 20%;
}
.more-info input {
  height: 70%;
  width: 20%;
}
.item2 {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(221, 217, 217);
  box-shadow: 5px 5px 5px rgb(128, 127, 127);
}

.item2-content {
  display: flex;
  width: 90%;
  height: 35%;
  flex-direction: column;
  justify-content: space-evenly;
}



.img1 {
  width: 100%;
}


.item3 {
  box-shadow: 5px 5px 5px rgb(128, 127, 127);
  height: 50vh;
}
.Popular-header {
  height: 8vh;
  background-color: #dcd9d9;
}
.Posts {
  display: flex;
  /* border: 5px solid rgb(93, 0, 255); */
  align-items: center;
  justify-content: space-around;
  height: 10vh;
}
.post-title {
  /* border: 5px solid rgb(93, 0, 255); */
  display: flex;
  flex-direction: column;
  width: 70%;
}
.item3 img {
  width: 15%;
}
.item4 {
  grid-row: 3 / 6;
  height: 60vh;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 5px 5px 5px rgb(128, 127, 127);
}

.item5 {
  display: flex;
  height: 26vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: sans-serif;
  box-shadow: 5px 5px 5px rgb(128, 127, 127);

}

.tags-header {
  background-color: rgb(228, 222, 222);
  width: 100%;
  height: 20%;
}
.tags-items {
  height: 20vh;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  align-content: center;
  align-items: center;
  
}

.tags-items p {
  padding: 0.5em;
  height: fit-content;
  background-color: #dcd9d9;
  border-radius: 44px;
}

/* artical end */
